<h1 class="text-layout">{{'Hola mundo'|lowercase}}</h1>

<button pButton class="p-button-help" type="button" label="Click" icon="pi pi-check" iconPos="right"></button>

<p-card header="Simple card"
        subheader="Subheader">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, ipsam, molestiae accusamus excepturi sint ex inventore quibusdam asperiores, doloremque facilis alias quod! Odio cumque nam sed veniam molestias excepturi quibusdam.

</p-card>

<p-card class="marTop-10px">
    <ng-template pTemplate="header">
        La cabecera
    </ng-template>
    <ng-template pTemplate="content" >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, debitis quia. Consectetur deleniti recusandae pariatur aliquid, sed similique architecto a voluptatibus distinctio neque quisquam ipsam culpa? In velit minus assumenda.
    </ng-template>
    <ng-template pTemplate="footer">
        El pie
    </ng-template>
    
    
</p-card>